.home {
  height: 15rem;
  font-family: "Ubuntu", sans-serif;
  margin-top: -4%;
  background-color: black;
}

.navBar {
  display: block;
}
.navBar ul {
  list-style-type: none;
  margin-left: 3%;
}
.navBar ul li {
  float: left;
  padding-left: 6%;
}
.navBar ul li a {
  color: white;
  text-decoration: none;
}

.navBar-scroll {
  position: fixed;
  background: rgb(74, 74, 74);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  z-index: 10;
  color: whitesmoke;
}
.projects-div {
  gap: 15px;
  width: 90%;
  margin-left: 10%;
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 2%;
  font-size: 40px;
  font-size: 50px;
}
.project {
  width: 70%;
  background-color: white;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 10%;
  border-radius: 5px;
}
.project img {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.project .header-text {
  text-align: center;
  font-size: 22px;
  padding-top: 3%;
}
.project .header {
  padding-left: 7%;
}
.project .text {
  padding-left: 4%;
  padding-right: 2%;
}
button {
  background-color: white;

  border: 2px solid #9351ad;
}
button:hover {
  background-color: #9351ad;
  color: white;
}
button:nth-child(2) {
  margin-left: 10%;
}
.github-btn {
  margin-left: 5%;
}
.site-btn {
  margin-left: 15%;
}
.project1 .langauges {
  margin-top: 12%;
}
.project3 button {
  margin-top: 3%;
}
.project3 .langauges {
  margin-top: 10%;
}
.langauges {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-left: 3%;
  column-gap: 13px;
}
.langauges .progress {
}
.project5 .langauges {
  margin-top: 21%;
}
.project4 .langauges {
  margin-top: 31%;
}
.project4 button {
  margin-top: 5%;
}
.project5 button {
  margin-top: 3.5%;
}

#navBar h2 {
  cursor: pointer;
  font-size: 20px;
  margin-left: 75%;
  margin-top: -40%;
}
.home button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
  position: absolute;
  margin-top: 5%;
}
.home button span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}
.sideDrawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 20%;
  background: rgba(57, 55, 55, 0.737);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-top: 10%;
  transition: 0.5s;
}
.navBar ul {
  list-style-type: none;
  margin-top: 85%;
  margin-left: 15%;
  font-family: "Josefin Sans", sans-serif;
}
.navBar ul li {
  float: none;
  padding-top: 15%;
}

.navBar ul li a {
  text-decoration: none;
  font-size: 35px;
   color: #f1f1f1;

  transition: 0.3s;
}
.navBar ul li a:hover {
  
   color: #a5a2a2;
}
@media (max-width: 560px) {
  .home {
    margin-left: -2%;
    width: 101.7%;
  }

  .projects-div {
    display: flex;
    flex-direction: column;
  }
  .project {
    margin-left: 9%;
  }
  .project button {
    margin-left: 5%;
    margin-bottom: 4%;
  }

  .home button {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  .home button span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }
  .sideDrawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 90%;
    background: rgba(57, 55, 55, 0.737);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: 10%;
  }

  .navBar ul {
    margin-top: 20%;
    list-style-type: none;
    margin-left: 0%;
  }
  .navBar ul li {
    float: none;
    padding-top: 15%;
  }
  .navBar ul li a {
    text-decoration: none;
    font-size: 40px;
  }
  #navBar h2 {
    margin-top: 9%;
    margin-left: 65%;
    cursor: pointer;
  }
}
